<card class="btn assignment-molecules-card"></card>
<card-img class="btn assignment-molecules-card-img"></card-img>
<text-wrap--margin_old calss="btn assignment-molecules-card-xt-wrap--margin_old">card-text</text-wrap--margin_old>
<card-body class="btn assignment-molecules-card-body">card-text</card-body>
<Vector1 class="btn assignment-molecules-card-Vector1"></Vector1>
<card-img class="btn assignment-molecules-card-card-img"></card-img>
<image1 class="btn assignment-molecules-card-image1"></image1>