@use "../../variables" as *;

.assignment-molecules-card{/* molecules/card

    ・画像にhoverして0.5秒かけて1.2倍拡大するようにお願いします。
    ・変化の度合いはeaseです
    ・sの時には拡大しません。
    ・card-titleの位置はX・Y座標を参考にしてください
    */
    
    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    width: 540px;
    height: 567px;
    
    /* white_smoke */
    
    background: #F5F5F5;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;}

.assignment-molecules-card-img{/* card-img */


    width: 540px;
    height: 384px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;}

.assignment-molecules-card-wrap--margin_old{/* text-wrap--margin_old */


    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 2px;
    
    position: absolute;
    width: 93px;
    height: 29px;
    left: 4px;
    top: 0px;}

.assignment-molecules-card-Vector1{/* Vector 1 */


    position: absolute;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    
    /* white */
    
    background: #FFFFFF;}

.assignment-molecules-card-card-img{/* assets/card-img */


    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0.41%;}

.assignment-molecules-card-image1{/* image 1 */


    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: url(image.png)}

.assignment-molecules-card-body{/* card-body */


    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    
    width: 540px;
    height: 183px;
    
    /* white_smoke */
    
    background: #F5F5F5;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;}

.assignment-molecules-card-body{/* card-body */


    /* Auto layout */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    
    width: 540px;
    height: 183px;
    
    /* white_smoke */
    
    background: #F5F5F5;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;}