@use "../../variables" as *;
.button{
    display: flex;
    position: absolute;
    width: 180px;
    height: 45px;

    transition: background-color 0.2s ease;
    font-family: 'Noto Sans JP';
    font-size: 14px;
    line-height: 20px;
    color:$white;
    background:$black;

    @media screen and (min-width: $breakpoint-md){
        width: 150px;
        height: 55px;
    }
    @media screen and (min-width: $breakpoint-lg) {
        width: 200px;
        height: 55px;
    }

    &:hover{
        color: $white;
        text-decoration: none;
        background-color: $orange_bistre;
    }

}